{% extends "admin_base.njk" %}
{% block titulo %}Juegos | Listado{% endblock %}
{% block contenido %}    
    <div class="container">
        <h1>Listado de juegos</h1>
        {% for juego in juegos %}
            <div class="row m-1">
                <div class="p-1 col-6">{{ juego.nombre }}</div>
                <div class="col-auto">
                    <a class="btn btn-success" href="/admin/{{ juego.id }}">Ver ficha</a>
                </div>
                <div class="col-auto">
                    <form action="/admin/{{ juego.id }}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger">Borrar</button>
                    </form>
                </div>
                <div class="col-auto">
                    <a class="btn btn-primary" href="/admin/editar/{{ juego.id }}">Editar</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12">No hay juegos que mostrar.</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}